<head>
  <title>
    About Wordle
  </title>
</head>

<h1>About Wordle</h1>
<p>
  Welcome to Wordle! Created by Josh Wardle, Wordle is a captivating daily word
  puzzle game that challenges players to guess a three to eight-letter word in six tries.
  Each guess receives feedback via colored tiles: green for the correct letter
  in the right position, yellow for the correct letter in the wrong position,
  and grey for incorrect letters.
</p>
<p>
  Our mission is to offer a fun, intellectually stimulating experience that
  brings joy to word enthusiasts worldwide. Join our vibrant community, enjoy
  the mental exercise, and relish the thrill of solving the daily puzzle. Happy
  puzzling!
</p>