<header>
    <navbar>
            <nav class="navbar">
            <a class="navbar__home" href="/">Home</a>
            <a class="navbar__highscore" href="highscore">Highscores</a>
            <a class="navbar__about" href="about">About Wordle</a>
    </navbar>
</header>

{{{body}}}